name: "Issue Labeler"
on:
  issues:
    types: [opened, edited]

permissions:
  issues: write
  contents: read

jobs:
  triage:
    runs-on: ubuntu-latest
    steps:
    - uses: github/issue-labeler@v3.2
      with:
        configuration-path: .github/labeler.yml
        enable-versioned-regex: 0
        include-title: 1
        repo-token: ${{ github.token }}
    - uses: wow-actions/auto-assign@v3
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        assignees: ambikakunnath
        includeLabels: bluescreen
    - uses: wow-actions/auto-assign@v3
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        assignees: ambikakunnath
        includeLabels: regression
    - name: Sync Regressions to ADO
      uses: Navdeep-ss/github-actions-issue-to-work-item@simple-sync-azurecli-2
      env:
        github_token: "${{ secrets.GITHUB_TOKEN }}"
      with:
        label: 'regression'
        ado_organization: 'microsoft'
        ado_project: 'Edge'
        ado_area_path: 'Edge\Web Experience\WebView2'
        ado_tags: 'WV2SupportAutoFile'
        ado_gh_closed_tag: 'WV2_GitHub_Closed'
        update_issue_body: 'false'
